<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <link href="./group391.css" rel="stylesheet" />

      <div class="group391-container">
        <div class="group391-group39">
          <div class="group391-homepage5">
            <img
              alt="image724596"
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ee6aecb0-0434-49cd-9f80-e1b9affe5b2f/4fd06875-d9f3-4ec2-b908-b39054109e0c?org_if_sml=194"
              class="group391-image72"
            />
            <span class="group391-text"><span>NAMA WEB</span></span>
            <span class="group391-text002">
              <span class="group391-text003">
                <span></span>
                <br />
                <span></span>
              </span>
              <span>Lorem ipsum dolor sit amet, consectetur adip</span>
            </span>
            <div class="group391-group9">
              <img
                alt="Ellipse44596"
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ee6aecb0-0434-49cd-9f80-e1b9affe5b2f/31607fad-aa3b-4ba0-8706-74da9894d7e0?org_if_sml=12781"
                class="group391-ellipse4"
              />
              <span class="group391-text008"><span>logo</span></span>
            </div>
            <span class="group391-text010"><span>BLABLABLA</span></span>
            <span class="group391-text012"><span>Event</span></span>
            <span class="group391-text014">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                faucibus leo et ante lobortis tristique. Donec feugiat nisi sed
                nibh condimentum porta. Sed aliquet ullamcorper dolor, non
                fringilla risus accumsan a. Aliquam sit amet erat eget eros
                malesuada porta non nec tellus.
              </span>
            </span>
            <div class="group391-desktop6">
              <span class="group391-text016">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                  faucibus leo et ante lobortis tristique. Donec feugiat nisi
                  sed nibh condimentum porta.
                </span>
              </span>
              <span class="group391-text018">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                  faucibus leo et ante lobortis tristique. Donec feugiat nisi
                  sed nibh condimentum porta.
                </span>
              </span>
              <span class="group391-text020">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                  faucibus leo et ante lobortis tristique. Donec feugiat nisi
                  sed nibh condimentum porta.
                </span>
              </span>
              <img
                alt="Vector4596"
                src="public/external/vector4596-wtng.svg"
                class="group391-vector"
              />
              <img
                alt="Vector4596"
                src="public/external/vector4596-yzxc.svg"
                class="group391-vector01"
              />
              <img
                alt="Vector4596"
                src="public/external/vector4596-y7wf.svg"
                class="group391-vector02"
              />
              <span class="group391-text022"><span>Geodiversity</span></span>
              <span class="group391-text024"><span>Biodiversity</span></span>
              <span class="group391-text026">
                <span>Cultural Diversity</span>
              </span>
              <button class="group391-buttondanau-purba">
                <div class="group391-frame101810">
                  <span class="group391-text028"><span>Read More</span></span>
                </div>
              </button>
              <button class="group391-buttondanau-purba1">
                <div class="group391-frame1018101">
                  <span class="group391-text030"><span>Read More</span></span>
                </div>
              </button>
              <button class="group391-buttondanau-purba2">
                <div class="group391-frame1018102">
                  <span class="group391-text032"><span>Read More</span></span>
                </div>
              </button>
            </div>
            <img
              alt="Line1274596"
              src="public/external/line1274596-4kc.svg"
              class="group391-line127"
            />
            <img
              alt="Desktop74596"
              src="public/external/desktop74596-dfyr.svg"
              class="group391-desktop7"
            />
            <div class="group391-footer">
              <img
                alt="SVGI459"
                src="public/external/svgi459-403.svg"
                class="group391-svg"
              />
              <div class="group391-desktop9">
                <img
                  alt="Ellipse127I459"
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ee6aecb0-0434-49cd-9f80-e1b9affe5b2f/9d59f3dd-a748-459e-96e4-9bbf0a380eda?org_if_sml=194"
                  class="group391-ellipse127"
                />
                <span class="group391-text034"><span>Find us</span></span>
                <img
                  alt="VectorI459"
                  src="public/external/vectori459-qpqp.svg"
                  class="group391-vector03"
                />
                <span class="group391-text036">
                  <span>
                    Penarukan, Kec. Kepanjen, Kabupaten Malang, Jawa Timur
                  </span>
                </span>
                <span class="group391-text038">
                  <span>bappeda@malangkab.go.id</span>
                </span>
                <img
                  alt="VectorI459"
                  src="public/external/vectori459-py1b.svg"
                  class="group391-vector04"
                />
                <img
                  alt="VectorI459"
                  src="public/external/vectori459-t3mf.svg"
                  class="group391-vector05"
                />
                <span class="group391-text040"><span>0314392322</span></span>
                <span class="group391-text042"><span>Contact us</span></span>
                <img
                  alt="VectorI459"
                  src="public/external/vectori459-57f.svg"
                  class="group391-vector06"
                />
                <img
                  alt="VectorI459"
                  src="public/external/vectori459-uv8.svg"
                  class="group391-vector07"
                />
                <img
                  alt="VectorI459"
                  src="public/external/vectori459-5ed.svg"
                  class="group391-vector08"
                />
                <span class="group391-text044">
                  <span>Kolaborasi SEAL X Kabupaten Malang</span>
                </span>
                <img
                  alt="Ellipse128I459"
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ee6aecb0-0434-49cd-9f80-e1b9affe5b2f/e0ff4bbc-35a4-4254-9bef-f6922b5d8393?org_if_sml=194"
                  class="group391-ellipse128"
                />
                <img
                  alt="Ellipse129I459"
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ee6aecb0-0434-49cd-9f80-e1b9affe5b2f/03f9c70c-825a-4583-8c27-1ec050191f85?org_if_sml=194"
                  class="group391-ellipse129"
                />
                <img
                  alt="image74I459"
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ee6aecb0-0434-49cd-9f80-e1b9affe5b2f/9d53bc20-11ae-4e93-b581-fd7222d49486?org_if_sml=116405"
                  class="group391-image74"
                />
                <img
                  alt="LOGOFIX1I459"
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ee6aecb0-0434-49cd-9f80-e1b9affe5b2f/ef0b8caa-a8c3-4cf3-bdba-90b7b29742d8?org_if_sml=17420"
                  class="group391-logofix1"
                />
                <div class="group391-frame101705">
                  <span class="group391-text046">
                    <span>
                      Copyright 2023 - Social Economic Accelerator Lab
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="group391-frame101794">
              <div class="group391-news">
                <span class="group391-text048">
                  <span>
                    <span>
                      Badan Penanggulangan Bencana Daerah (BPBD) Kota Malang
                      merilis
                    </span>
                    <br />
                    <span>
                      kenaikan jumlah bencana selama Februari lalu. Tercatat, 35
                      bencana
                    </span>
                    <br />
                    <span>terjadi di Kota Malang...</span>
                  </span>
                </span>
                <span class="group391-text055"><span>22 Mei 2023</span></span>
                <span class="group391-text057">
                  <span>
                    <span>Bupati Malang membuka Event</span>
                    <br />
                    <span>Pariwisata Ride and Cofe Festival</span>
                    <br />
                    <span>“RIDECOFFES”</span>
                  </span>
                </span>
                <img
                  alt="R14596"
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ee6aecb0-0434-49cd-9f80-e1b9affe5b2f/b4ee81fb-0640-41a3-a012-90adb4a54996?org_if_sml=1176414"
                  class="group391-r1"
                />
                <img
                  alt="Vector4596"
                  src="public/external/vector4596-env.svg"
                  class="group391-vector09"
                />
                <button class="group391-buttonprimaryactive">
                  <div class="group391-frame33497">
                    <span class="group391-text064 Headingh4Regular">
                      <span>Read More</span>
                    </span>
                  </div>
                </button>
              </div>
              <div class="group391-news1">
                <span class="group391-text066">
                  <span>
                    <span>
                      Badan Penanggulangan Bencana Daerah (BPBD) Kota Malang
                      merilis
                    </span>
                    <br />
                    <span>
                      kenaikan jumlah bencana selama Februari lalu. Tercatat, 35
                      bencana
                    </span>
                    <br />
                    <span>terjadi di Kota Malang...</span>
                  </span>
                </span>
                <span class="group391-text073"><span>22 Mei 2023</span></span>
                <span class="group391-text075">
                  <span>
                    <span>Bupati Malang membuka Event</span>
                    <br />
                    <span>Pariwisata Ride and Cofe Festival</span>
                    <br />
                    <span>“RIDECOFFES”</span>
                  </span>
                </span>
                <img
                  alt="R14596"
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ee6aecb0-0434-49cd-9f80-e1b9affe5b2f/312d016b-66a6-420e-b635-f82a7817d9e6?org_if_sml=1176414"
                  class="group391-r11"
                />
                <img
                  alt="Vector4596"
                  src="public/external/vector4596-8akh.svg"
                  class="group391-vector10"
                />
                <button class="group391-buttonprimaryactive1">
                  <div class="group391-frame334971">
                    <span class="group391-text082 Headingh4Regular">
                      <span>Read More</span>
                    </span>
                  </div>
                </button>
              </div>
              <div class="group391-news2">
                <span class="group391-text084">
                  <span>
                    <span>
                      Badan Penanggulangan Bencana Daerah (BPBD) Kota Malang
                      merilis
                    </span>
                    <br />
                    <span>
                      kenaikan jumlah bencana selama Februari lalu. Tercatat, 35
                      bencana
                    </span>
                    <br />
                    <span>terjadi di Kota Malang...</span>
                  </span>
                </span>
                <span class="group391-text091"><span>22 Mei 2023</span></span>
                <span class="group391-text093">
                  <span>
                    <span>Bupati Malang membuka Event</span>
                    <br />
                    <span>Pariwisata Ride and Cofe Festival</span>
                    <br />
                    <span>“RIDECOFFES”</span>
                  </span>
                </span>
                <img
                  alt="R14596"
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ee6aecb0-0434-49cd-9f80-e1b9affe5b2f/18ac1af5-d8dd-4a67-9cd4-79b40f59278d?org_if_sml=1176414"
                  class="group391-r12"
                />
                <img
                  alt="Vector4596"
                  src="public/external/vector4596-lsbp.svg"
                  class="group391-vector11"
                />
                <button class="group391-buttonprimaryactive2">
                  <div class="group391-frame334972">
                    <span class="group391-text100 Headingh4Regular">
                      <span>Read More</span>
                    </span>
                  </div>
                </button>
              </div>
              <div class="group391-iconparksolidrightc">
                <div class="group391-maskgroup">
                  <div class="group391-group">
                    <div class="group391-group1">
                      <img
                        alt="Vector4596"
                        src="public/external/vector4596-8ij.svg"
                        class="group391-vector12"
                      />
                      <img
                        alt="Vector4596"
                        src="public/external/vector4596-eg5.svg"
                        class="group391-vector13"
                      />
                    </div>
                  </div>
                  <img
                    alt="Vector4596"
                    src="public/external/vector4596-pbfa.svg"
                    class="group391-vector14"
                  />
                </div>
              </div>
              <div class="group391-iconparksolidleftc">
                <div class="group391-maskgroup1">
                  <div class="group391-group2">
                    <div class="group391-group3">
                      <img
                        alt="Vector4596"
                        src="public/external/vector4596-jsrk.svg"
                        class="group391-vector15"
                      />
                      <img
                        alt="Vector4596"
                        src="public/external/vector4596-h2nd.svg"
                        class="group391-vector16"
                      />
                    </div>
                  </div>
                  <img
                    alt="Vector4596"
                    src="public/external/vector4596-gpw.svg"
                    class="group391-vector17"
                  />
                </div>
              </div>
            </div>
            <div class="group391-auto-layout-bg">
              <img
                alt="unsplashB13UpqwKSPII459"
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ee6aecb0-0434-49cd-9f80-e1b9affe5b2f/90a83e7d-0c92-44f8-ae4e-72140a37faf8?org_if_sml=194"
                class="group391-unsplash-b1-upqw-kspi"
              />
              <img
                alt="unsplashKMn4VEeEPR8I459"
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ee6aecb0-0434-49cd-9f80-e1b9affe5b2f/c243c6c5-d28b-4c3a-aa01-45ffb1e314f1?org_if_sml=11503603"
                class="group391-unsplash--mn4-ee-epr8"
              />
              <img
                alt="unsplashdzFB8xeWg1MI459"
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ee6aecb0-0434-49cd-9f80-e1b9affe5b2f/3bbd2eb5-00e1-47b6-805c-f5763a08acf5?org_if_sml=194"
                class="group391-unsplashdz-fb8xe-wg1m"
              />
            </div>
            <img
              alt="Rectangle108504596"
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ee6aecb0-0434-49cd-9f80-e1b9affe5b2f/58566075-b687-4419-8c14-9ed64519f956?org_if_sml=11446923"
              class="group391-rectangle10850"
            />
            <span class="group391-text102">
              <span>
                <span>Sistem Informasi Geopark</span>
                <br />
                <span>
                  Badan Perencanaan Pembangunan Daerah Kabupaten Malang
                </span>
              </span>
            </span>
            <span class="group391-text107"><span>SIGOR</span></span>
            <div class="group391-homepagenavbar">
              <span class="group391-text109"><span>Diversity</span></span>
              <span class="group391-text111"><span>Event</span></span>
              <span class="group391-text113"><span>Peta</span></span>
              <span class="group391-text115">
                <span>Kritik dan saran</span>
              </span>
              <img
                alt="Line128I459"
                src="public/external/line128i459-01ca.svg"
                class="group391-line128"
              />
              <span class="group391-text117"><span>Homepage</span></span>
            </div>
            <img
              alt="LOGOSIGOR14596"
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ee6aecb0-0434-49cd-9f80-e1b9affe5b2f/9818e79f-f48b-4ab2-bd67-6bf7c359174a?org_if_sml=132437"
              class="group391-logosigor1"
            />
            <div class="group391-frame101814">
              <div class="group391-hoversubmenu">
                <span class="group391-text119"><span>Geodiversity</span></span>
              </div>
              <div class="group391-hoversubmenu1">
                <span class="group391-text121"><span>Biodiversity</span></span>
              </div>
              <div class="group391-hoversubmenu2">
                <span class="group391-text123">
                  <span>Cultural Diversity</span>
                </span>
              </div>
            </div>
            <div class="group391-frame101815">
              <div class="group391-hoversubmenu3">
                <span class="group391-text125"><span>Geodiversity</span></span>
              </div>
              <div class="group391-hoversubmenu4">
                <span class="group391-text127"><span>Biodiversity</span></span>
              </div>
              <div class="group391-hoversubmenu5">
                <span class="group391-text129">
                  <span>Cultural Diversity</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
